/*
These are the fonts I selected from Google Fonts

font-family: 'Major Mono Display', monospace;
font-family: 'Roboto Mono', monospace;
font-family: 'Belanosima', sans-serif;
font-family: 'Quantico', sans-serif;

*/

/* INDIVIDUAL ELEMENTS */
body {
    background-color:thistle;
    margin-left: 115px;
    margin-top: 10px;
}

body, .bodyParagraphs {
    margin-right: 115px;
}

h1, h2 {
    font-family: 'Quantico', sans-serif;
}

/* h1 {
    font-size: 50px;
} */

p {
    font-family: 'Roboto Mono', monospace;
}

footer {
    position: absolute;
    bottom: 15px;
    margin-left: 12%;
}

/* CLASSES */
.bodyParagraphs {
    position: absolute;
    margin-top: 70px;
    text-align: justify;
    font-size: 20px;
}
 
.headerLinks {
    text-decoration: none;
    color:midnightblue;
    transition: 0.3s;
}

.headerLinks:hover {
    color:rgb(67, 67, 255);
}

/* IDs */
#nameHeading {
    margin-left: 15px;
    width: 50%;
}

#linkedin {
    width: 45px;
    margin-right: 10px;
}

#github {
    width: 45px;
}

#linkLogos {
    float: right;
    margin-right: 15px;
    padding-top: 3px;
}

#linkBar {
    float: right;
    padding-right: 30px;
    margin-bottom: 12px;
}

#aboutMe {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#aboutMeLink {
    padding-right: 5px;
}

#homeLink {
    padding-right: 6px;
}

#pageHeading {
    font-size: 55px;
    position: absolute;
    margin-top: 25px;
}

#personalPhoto {
    float: left;
    width: 200px;
    padding-right: 20px;
}

#footer {
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}