/*
These are the fonts I selected

font-family: 'Major Mono Display', monospace;
font-family: 'Roboto Mono', monospace;

*/

body {
    background-color: bisque;
}

h1, h2 {
    font-family: 'Major Mono Display', monospace;
}

#nameHeading {
    width: 50%;
}

p {
    font-family: 'Roboto Mono', monospace;
}

#linkedin {
    width: 45px;
}

#github {
    width: 45px;
}

#linkLogos {
    float: right;
    margin-right: 15px;
}