/*
These are the fonts I selected

font-family: 'Major Mono Display', monospace;
font-family: 'Roboto Mono', monospace;

*/

body {
    background-color: bisque;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 10px;
}

h1, h2 {
    font-family: 'Major Mono Display', monospace;
}

p {
    font-family: 'Roboto Mono', monospace;
    opacity: 0;
    position: absolute;
    margin-right: 75px;
}

#nameHeading {
    width: 50%;
}

#linkedin {
    width: 45px;
    margin-right: 10px;
}

#github {
    width: 45px;
}

#linkLogos {
    float: right;
    margin-right: 25px;
}